<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众志成城 齐心抗疫</title>
</head>
<body>
    <h1>自动化报平安-v21.08.30</h1>
    <p>请在此输入您的学号查询您是否注册</p>
    <form action = "./search" method = "post">
        <p><label>
            <input type = "text" name = "xh" maxlength = 10 />
        </label><input type = "submit" value = "查询" /></p>
    </form>
    {{cxjg|safe}}
    <h2>使用前须知</h2>
    <p>首先，您的资料将被安全的存放在由阿里云服务提供支持的数据库中。</p>
    <p>其次，您的资料仅供此服务使用，并不会另作他用。</p>
    <p>最后，底层实现逻辑以及所用脚本完全开源。</p>
    <h2>注册</h2>
    <p>新用户请直接点击→<a href="./registered" >注册</a></p>

</body>
</html>