<meta charset="UTF-8">
<h1>报平安自动化日志邮件</h1>
<p style="color: black">邮件TIME：</p>
<p style="color: black">邮件类别：</p>
<p style="color: black">学号：</p>
<p style="color: black">姓名：</p>
<p style="color: black">Login：</p>
<p style="color: black">Login_Result：</p>
<p style="color: black">Commit：</p>
<p style="color: black">Commit_Result：</p>
<p style="color: black">User_data：</p>
<p style="color: black">结果：</p>

<p style="color: black"><b>注意：</b>主程序会在每日13时自动对已经通过验证的账号进行提交操作，并发出此邮件。</p>
<a style="color: black" href = 'http://bpa.aiyanlin.cn'>自动化主页地址->http://bpa.aiyanlin.cn</a>
