<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众志成城 齐心抗疫</title>
</head>
<body>
    <h1>注册</h1>
    <form action = "./registered" method = "post">
        <p><label>
            学号:<input type="text" name="xh"/>
        </label></p>
        <p><label>
            姓名:<input type="text" name="xm"/>
        </label></p>
        <p><label>
            密码:<input type="text" name="mm"/>
        </label></p>
        <p><label>
            系别:<input type="text" name="xy"/>
        </label></p>
        <p><label>
            手机号码:<input type="text" name="sjhm"/>
        </label></p>
        <p><label>
            三级地址:<input type="text" name="dz1"/>
        </label></p>
        <p><label>
            县区地址:<input type="text" name="dz2"/>
        </label></p>
        <p><label>
            详细地址:<input type="text" name="xxdz"/>
        </label></p>
        <p><label>
            体温参数1:<input type="text" name="tw1"/>
        </label></p>
        <p><label>
            体温参数2:<input type="text" name="tw2"/>
        </label></p>
        <p><label>
            电子邮箱:<input type="text" name="email"/>
        </label></p>
        <p><input type = "submit" value = "提交" /></p>
    </form>
</body>
</html>