<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <title>众志成城 齐心抗疫</title>
</head>
<body>
    <h1>注册</h1>
    {{ tips|safe }}
    <form action = "./registered" method = "post">
        <p><label>
            学号:<input type="text" name="xh"/>
        </label></p>
        <p><label>
            密码:<input type="text" name="mm"/>
        </label></p>
        <p><label>
            姓名:<input type="text" name="xm"/>
        </label></p>
        <p><label>
            学院:<input type="text" name="xy"/>
        </label></p>
        <p style="color: rgb(8,102,211)">例如：建筑工程学院</p>
        <p><label>
            手机号码:<input type="text" name="sjhm"/>
        </label></p>
        <p><label>
            三级地址:<input type="text" name="dz1"/>
        </label></p>
        <p style="color: rgb(8,102,211)">例如：浙江省杭州市萧山区 或者 浙江省温州市温岭市</p>
        <p><label>
            县区地址:<input type="text" name="dz2"/>
        </label></p>
        <p  style="color: rgb(8,102,211)">例如：上面写了 浙江省杭州市萧山区 那么就写 萧山区</p>
        <p><label>
            详细地址:<input type="text" name="xxdz"/>
        </label></p>
        <p style="color: rgb(8,102,211)">例如：xx工地 xx小区xx幢xxx房 等等 这个随意</p>
        <p>
            体温参数1:
            <label>
                <input type="radio" name="tw1" value="1"/>
                小于37°C
            </label>
            <label>
                <input type="radio" name="tw1" value="2"/>
                37°C至37°C
            </label>
            <label>
                <input type="radio" name="tw1" value="3"/>
                大于37°C
            </label>
        </p>
        <p>
            体温参数1:
            <label>
                <input type="radio" name="tw2" value="1"/>
                小于37°C
            </label>
            <label>
                <input type="radio" name="tw2" value="2"/>
                37°C至37°C
            </label>
            <label>
                <input type="radio" name="tw2" value="3"/>
                大于37°C
            </label>
        </p>
        <p><label>
            电子邮箱:<input type="text" name="email"/>
        </label></p>
        <p><input type = "submit" value = "提交" /></p>
    </form>
</body>
</html>