<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <title>修改您的密码</title>
</head>
<body>
    <h1>自动化报平安-附加功能</h1>
    {{ ui|safe }}
    {{cxjg|safe}}
    <h2>学校要求的密码格式</h2>
    <ul id="pwdrule">
        <li>1、密码长度需大于8</li>
        <li>2、密码需包含数字</li>
        <li>3、密码需包含小写字母</li>
        <li>4、密码需包含大写字母</li>
        <li>5、密码不可与3次内历史密码相同
        </li>
    </ul>
    <h2>使用前须知</h2>
    <p>在此页面修改您的学校官方账号密码。</p>
    <p><b>注意：</b>此功能与学校官方改密码具有同等效果！</p>
    <p>学校官方修改链接：<a href="https://newca.zjtongji.edu.cn/security/start/index.html#/business/security/reset_password">https://newca.zjtongji.edu.cn/security/start/index.html#/business/security/reset_password</a></p>
    <p>部分同学手机无法打开学校的改密码界面可以在这里尝试！</p>
    <p style="color: red">所有数据均从学校服务器查询并向学校服务器提交，本功能不会做任何保存</p>

</body>
</html>